@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Inclusive+Sans:ital@0;1&family=Lato&family=Montserrat:ital,wght@0,100;1,100&family=Open+Sans:wght@300&family=Quicksand:wght@300&display=swap');

*{
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0%;
    background-color: #F1F1F1;
}

header{


    position: sticky;
    top: 0;

    background-color: rgb(231, 98, 93);
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

a {
    text-decoration: none;
  }

.header__span--zona-logo img{
    margin-left: 20px;
    padding-left: 55px;
}

.home, .about, .api, .beta{
    color: #FFFFFF;
    padding: 25px;
}


.home, .about, .api, .beta:hover{
    color: #FFFFFF;
    padding: 25px;
    margin-bottom: 5px solid #FFFFFF;
}


.container{

    background-color: #FFFFFF;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-around;
}

.body__div--zona-nav{

    /* añadimos propiedad sticky */
    height: 200px;
    position: sticky;
    top: 50px;


    width: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.body__div--zona-content{

    padding: 20px;
}


#home #about #graf #beta{
margin-left: 20%;
}

#about{
    background-color: red;
    padding-top: 21px;
    padding-bottom: 15px;
}
  