.index__main{
    
    display: flex;
    justify-content: center;
    
    height: 80vh;

    .main__picture{

        // display: flex;
        // justify-content: center;

        img{
            height: 100%;
        }

    }

}